.App {
  margin: auto;
  margin-top: 4%;
  width: 50%;
  padding: 10px;
  background-color: #388F38;
  height: 500px;
  border-radius: 10px;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.App-header {
  margin-left: 10%;
  color: #FAE392;
}

.inputAdd{
  height: 34px;
  width: 60%;
  border-radius: 10px 0px 0px 10px;
  text-align: center;
  border: none;
  background-color: #497049;
  color: #FAE392;

}

::placeholder {
  color: #FAE392;
  opacity: 1; /* Firefox */
}

.buttonAdd{
  height: 38px;
  border-radius: 0px 10px 10px 0px;
  border: none;
  background-color:  #FAE392;
  color: #497049;
}
.buttonRemove{
  float: left;
  background-color: #497049;
  color: #FAE392;
  margin-right: 10px;
  margin-top: 6px;
  border: none;
  font-size: 20px;
  border-radius: 4px;
}

.ul {
  margin-left: -8%;
  margin-top: 4%;
}

.list {
  float: left;
  background-color: #497049;
  width: 80%;
  height: 36px;
  border-radius: 10px;
  list-style: none;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.p{
  margin: 0;
  text-align: center;
  margin-top: 4px;

}

